@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@import './nav';
@import './base';
@import './animations';
@import './responsive';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Montserrat;
    overflow-x: hidden;
}

h1{
    font-family: Montserrat;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: center;
}
h2{
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: center;
    color: #4F57A6;
}
h3{
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F57A6;
}
h4{
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #4F57A6;
}
h5{
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
h6{
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0;
    color: #ffffff;
}

p{
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #4F4F4F;

}




button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    outline: none;
    border: 2px solid #4F57A6;
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 40px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 10px;
    span{
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
    &:hover{
        border-color: black;
    }
}

button.free{
    color: #4F57A6;
}
button.more{
    color: #8D54A2;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

